# Tipe Data Python

### Integer

In [2]:
x = 5 

print(x, "tipenya adalah ", type(x))

5 tipenya adalah  <class 'int'>

### Float

In [3]:
x = 2.0

print(x, "tipenya adalah ", type(x))

2.0 tipenya adalah  <class 'float'>

### Complex

In [4]:
x = 1+2j

print(x, "tipenya adalah ",type(x))

(1+2j) tipenya adalah  <class 'complex'>

### String

In [5]:
x = "Dilla" 

print(x, "tipenya adalah ", type(x))

Dilla tipenya adalah  <class 'str'>

##### String Lengkap

In [6]:
kalimat = "Nama saya Dilla"

print(kalimat)

Nama saya Dilla

##### Karakter Pertama

In [7]:
kalimat = "Nama saya Dilla"

print(kalimat[0])

N

##### Karakter Terakhir

In [8]:
kalimat = "Nama saya Dilla"

print(kalimat[-1])

a

##### Dari Indeks 4 - 6

In [9]:
kalimat = "Nama saya Dilla"

print(kalimat[4:7])

 sa

##### Dari Indeks 0 - 3

In [10]:
kalimat = "Nama saya Dilla"

print(kalimat[:4])

Nama

### List

In [11]:
a = [5,10,15,20,25,30,35,40]

print("a[2] = ", a[2])

a[2] =  15

In [12]:
a = [5,10,15,20,25,30,35,40]

print("a[0:3] = ", a[0:3])

a[0:3] =  [5, 10, 15]

In [13]:
a = [5,10,15,20,25,30,35,40]

print("a[5:] = ", a[5:])

a[5:] =  [30, 35, 40]

### Tuple

In [14]:
white = (255,255, 255)

print(white)

(255, 255, 255)

In [15]:
red = (255,0,0)

print(red[0])

255

### Set

##### Set Integer

In [16]:
my_set = {1,2,3} 

print(my_set)

{1, 2, 3}

##### Set Dengan Menggunakan Fungsi set()

In [17]:
my_set = set([1,2,3]) 

print(my_set)

{1, 2, 3}

##### Set Data Campuran

In [18]:
my_set = {1, 2.0, "Python", (3,4,5)}

print(my_set)

{1, 2.0, (3, 4, 5), 'Python'}

##### Set Bila Kita Mengisi Duplikasi, Set Akan Menghilangkan Salah Satu

In [19]:
my_set = {1,2,2,3,3,3} 

print(my_set)

{1, 2, 3}

### Dictionary

In [20]:
d = {1:'satu', 2:'dua', 'tiga':3}

print("d[1] = ", d[1])

d[1] =  satu

In [21]:
d = {1:'satu', 2:'dua', 'tiga':3}

print("d['tiga'] = ", d['tiga'])

d['tiga'] =  3

# Operator Python

### Penjumlahan

In [22]:
a= 1 + 3

print(a)

4

### Pengurangan

In [23]:
a= 4 - 1

print(a)

3

### Perkalian

In [24]:
a= 2 * 4

print(a)

8

### Pembagian

In [25]:
a= 10 / 5

print(a)

2.0

### Modulus

In [26]:
a= 11 % 2

print(a)

1

### Pemangkatan

In [27]:
a= 8 ** 2

print(a)

64

### Pembagian Bulat

In [28]:
a= 10 // 3

print(a)

3